@page
@model BookListRazor.Pages.ExtraPage.IndexModel
@{
}
<div class="col text-center">
  <h1> This is index page content</h1> <small> It is displaying from Pages/ExtraPage/Index.cshtml file. </small>
</div>